@use './variables' as *;
@use './mixins' as *;
@use './typography' as *;

.footer {
    background-color: $primary-one;
    @include padding-screen;

    &__container {
        position: relative;

        @include desktop {
            margin: 0 auto;
            max-width: 126rem;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;

        @include tablet {
            align-items: baseline;
            flex-direction: row;
            gap: 5rem;
        }

        @include desktop {
            gap: 6rem;
        }
    }

    &__title {
        @include section-header;
        font-weight: 600;
        color: $primary-three;
        @include padding-headline;
    }

    &__icon-wrapper {
        padding-top: 1rem;
        @include padding-components;

        @include tablet {
            padding: 0rem;
        }
    }

    &__icon {
        padding-right: 3rem;
    }

    &__contact-wrapper {
        padding-bottom: 5rem;

        @include tablet {
            display: flex;
            justify-content: space-between;
            padding-bottom: 4rem;
            max-width: 90rem;
        }
    }

    &__contact-card {
        @include footer-copy;
        color: $primary-three;
        padding-bottom: 3rem;
    }

    &__contact-name {
        font-weight: 600;
        padding-bottom: 2rem;

        @include tablet {
            padding-bottom: 2.75rem;
        }
    }

    &__contact-info {
        padding-bottom: 2rem;

        @include tablet {
            padding-bottom: 2.75rem;
        }
    }

    &__contact-email {
        color: $primary-three;
    }

    &__logo {
        color: $primary-three;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1;
        @include padding-components;

        @include tablet {
            line-height: 1;
            position: absolute;
            top: 7.5rem;
            right: 0rem;
        }
    }

    &__copyright {
        @include footer-copy;
        font-size: 1.25rem;
        color: $primary-three;
        @include padding-components;
    }
}