@use './variables' as *;
@use './typography' as *;
.header {
    background-color: $BandSite-Black;
    display: flex;
    flex-direction: column;

    &__logo {
        color: $White;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        max-width: 15rem;
        line-height: 1;
        padding: 1rem 0rem;
        align-self: center;

        &:visited {
            color: $White;
        }
    }

    &__navigation-container {
        display: flex;
        align-content: center;
    }

    &__navigation-item {
        color: $Mercury;
        text-align: center;
        padding: 1rem 0rem;
        flex: 1;
        @include body-copy;

        &:visited {
            color: $Mercury;
        }

        &:hover {
            color: $White;
            border-bottom: solid 4px $White;
        }
    }
}