@use './variables' as *;

.header {
    background-color: $BandSite-Black;
    display: flex;
    flex-direction: column;


    & a:visited {
        color: $White;
    }

    &__logo {
        color: $White;
        text-align: center;
        font-size: 2.5rem;
        max-width: 15rem;
        line-height: 1;
        padding: 1rem 0rem;
        align-self: center;
    }

    &__navigation-container {
        display: flex;
        align-content: center;
    }

    &__navigation-item {
        color: $White;
        text-align: center;
        padding: 1rem 0rem;
        flex: 1;
    }
}