@use './variables' as *;
@use './mixins' as *;
@use './typography' as *;

.hero {
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    aspect-ratio: 16/9;
    @include padding-screen;
    display: flex;
    align-items: center;
    position: relative;

    @include tablet {
        aspect-ratio: 16/9.5;
    }

    @include desktop {
        aspect-ratio: 16/8;
    }

    &::before {
        content: "";
        background-color: rgba($color: $BandSite-Black, $alpha: 0.5);
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    &__title-container {
        z-index: 1;

        @include desktop {
            margin: 0 auto;
            width: 126rem;
        }
    }

    &__title {
        @include page-header;
        color: $White;
    }
}