// primary colors
$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;

//secondary colors
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

//breakpoints for responsiveness
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;