// primary colors
$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;

//secondary colors
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

//mixins for padding
@mixin padding-screen {
    padding: 0rem 2rem;
}

@mixin padding-headline {
    padding: 3rem 0rem 1rem;
}

@mixin padding-components {
    padding-bottom: 2rem;
}