@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/hero';

.about {
    @include padding-screen;

    &__container {
        @include desktop {
            margin: 0 auto;
            max-width: 126rem;
        }
    }

    &__title {
        @include section-header;
        color: $primary-one;
        @include padding-headline;
    }

    &__content-wrapper {
        @include tablet {
            padding: 0rem 8rem;
        }

        @include desktop {
            padding: 0rem 9rem;
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 16/9.5;
        object-fit: cover;
        @include padding-components;
    }

    &__quote-container {
        @include desktop {
            max-width: 82rem;
        }
    }

    &__quote {
        color: $primary-one;
        font-size: 1.625rem;
        line-height: 3rem;
        font-weight: 600;
        padding-bottom: 0.5rem;

        @include tablet {
            font-size: 2.75rem;
            line-height: 3.75rem;
            padding-bottom: 1rem;
        }
    }

    &__quote-credit {
        color: $primary-one;
        font-size: 1.625rem;
        line-height: 3rem;
        font-weight: 600;
        padding-bottom: 2rem;

        @include tablet {
            font-size: 2rem;
            padding-bottom: 6rem;
        }
    }

    &__subheader {
        @include subheader;
        padding-bottom: 2rem;

        @include tablet {
            padding-bottom: 3rem;
        }
    }

    &__text-wrapper {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__text {
        @include body-copy;
        color: $primary-one;
        @include padding-components;

        @include tablet {
            width: 48%;
        }
    }
}

.gallery {
    background-color: $secondary-three;
    display: flex;
    flex-direction: column;
    @include padding-screen;
    @include padding-components;

    &__container {
        @include desktop {
            margin: 0 auto;
            max-width: 126rem;
        }
    }

    &__title {
        @include section-header;
        color: $primary-one;
        @include padding-headline;
    }

    &__image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3rem;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;
        filter: grayscale(1);
        transition: all 0.25s ease-out;

        &:hover {
            filter: grayscale(0);
        }

        @include tablet {
            width: 31%;
        }

        @include desktop {
            width: 31.5%;
        }
    }
}

.comments {
    background-color: $primary-three;
    @include padding-screen;

    &__title {
        @include section-header;
        font-weight: 600;
        color: $primary-one;
        padding: 1.5rem 0rem;

        @include tablet {
            padding: 6rem 0rem 4.5rem;
        }

        @include desktop {
            margin: 0 auto;
            max-width: 126rem;
        }
    }

    &__form {
        display: flex;
        gap: 2rem;

        @include tablet {
            padding: 0rem 8rem;
            gap: 1.5rem;
        }

        @include desktop {
            margin: 0 auto;
            max-width: 78rem;
        }

        &-image {
            width: 4.5rem;
            height: 4.5rem;
            object-fit: cover;
            border-radius: 50%;
            margin-top: 2rem;

            @include tablet {
                width: 6rem;
                height: 6rem;
            }
        }

        &-container {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        &-label {
            font-size: 1.25rem;
            color: $primary-two;
            padding-bottom: 0.5rem;
        }

        &-input {
            border: solid 1px $secondary-two;
            font-size: 1.5rem;
            color: $primary-one;
            background-color: $secondary-three;
            border-radius: 0.5rem;
            padding: 1.5rem;

            @include tablet {
                padding: 2rem;
            }

            &--name {
                margin-bottom: 3rem;

                &::placeholder {
                    color: $primary-one;
                }
            }

            &--comment {
                overflow-y: scroll;
                resize: none;
                height: 12rem;
                margin-bottom: 2rem;

                &::placeholder {
                    color: $primary-one;
                }

                @include tablet {
                    margin-bottom: 3rem;
                }
            }

            &:active {
                border: solid 1px $primary-one;
            }

            &:invalid {
                border: solid 1px #D22D2D;
            }
        }

        &-button {
            font-size: 2rem;
            font-weight: 600;
            color: $primary-three;
            background-color: $primary-one;
            border-radius: 0.5rem;
            max-height: 5rem;
            padding: 1.5rem 0rem;
            margin-bottom: 2rem;

            @include tablet {
                align-self: flex-end;
                width: 20rem;
                margin-bottom: 3rem;
            }
        }
    }

    &__divider {
        @include divider;

        @include tablet {
            margin: 0rem 8rem 3rem;
        }

        @include desktop {
            margin: 0rem auto 3rem;
            max-width: 62rem;
        }
    }

    &__card {
        @include body-copy;
        display: flex;
        gap: 1rem;

        @include tablet {
            padding: 0rem 8rem;
            gap: 1.5rem;
        }

        @include desktop {
            margin: 0 auto;
            max-width: 78rem;
        }
    }

    &__avatar {
        background-color: $secondary-two;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;

        @include tablet {
            width: 6rem;
            height: 6rem;
        }
    }

    &__content-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__data {
        display: flex;
        justify-content: space-between;
    }

    &__username {
        color: $primary-one;
        font-weight: 600;
    }

    &__timestamp {
        color: $primary-two;
    }

    &__text {
        margin-bottom: 1rem;

        @include tablet {
            margin-bottom: 3rem;
        }
    }

}