@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/hero';

nav {
    a[href^="./index.html"] {
        color: $White;
        border-bottom: solid 4px $White;
        font-weight: bold;
    }
}

.about {
    @include padding-screen;

    &__title {
        @include section-header;
        color: $BandSite-Black;
        @include padding-headline;
    }

    &__content-wrapper {
        @include tablet {
            padding: 0rem 8rem;
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 16/9.5;
        object-fit: cover;
        @include padding-components;
    }

    &__quote {
        color: $BandSite-Black;
        font-size: 1.625rem;
        line-height: 3rem;
        font-weight: 600;
        padding-bottom: 0.5rem;

        @include tablet {
            font-size: 2.75rem;
            line-height: 3.75rem;
            padding-bottom: 1rem;
        }
    }

    &__quote-credit {
        color: $BandSite-Black;
        font-size: 1.625rem;
        line-height: 3rem;
        font-weight: 600;
        padding-bottom: 2rem;

        @include tablet {
            font-size: 2rem;
            padding-bottom: 6rem;
        }
    }

    &__subheader {
        @include subheader;
        padding-bottom: 2rem;

        @include tablet {
            padding-bottom: 3rem;
        }
    }

    &__text-wrapper {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__text {
        @include body-copy;
        color: $BandSite-Black;
        @include padding-components;

        @include tablet {
            width: 48%;
        }
    }
}

.gallery {
    background-color: $Alabaster;
    display: flex;
    flex-direction: column;
    @include padding-screen;
    @include padding-components;

    &__title {
        @include section-header;
        color: $BandSite-Black;
        @include padding-headline;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3rem;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;

        @include tablet {
            width: 31%;
        }
    }
}