body {
  font-family: "Avenir", Arial, sans-serif;
  font-size: 2rem;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  aspect-ratio: 16/9;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0rem 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    aspect-ratio: 16/9.5;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    aspect-ratio: 16/8;
  }
}
.hero::before {
  content: "";
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.hero__title-container {
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .hero__title-container {
    margin: 0 auto;
    width: 126rem;
  }
}
.hero__title {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 7.5rem;
    line-height: 8.5rem;
  }
}

nav a[href^="./index.html"] {
  color: #FFFFFF;
  border-bottom: solid 4px #FFFFFF;
  font-weight: bold;
}

.about {
  padding: 0rem 2rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 0rem 4.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__container {
    margin: 0 auto;
    max-width: 126rem;
  }
}
.about__title {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #323232;
  padding: 3rem 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    padding: 6rem 0rem 3.5rem;
  }
}
@media screen and (min-width: 768px) {
  .about__content-wrapper {
    padding: 0rem 8rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__content-wrapper {
    padding: 0rem 9rem;
  }
}
.about__image {
  width: 100%;
  aspect-ratio: 16/9.5;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .about__image {
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote-container {
    max-width: 82rem;
  }
}
.about__quote {
  color: #323232;
  font-size: 1.625rem;
  line-height: 3rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 2.75rem;
    line-height: 3.75rem;
    padding-bottom: 1rem;
  }
}
.about__quote-credit {
  color: #323232;
  font-size: 1.625rem;
  line-height: 3rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .about__quote-credit {
    font-size: 2rem;
    padding-bottom: 6rem;
  }
}
.about__subheader {
  font-size: 1.75rem;
  line-height: 2.75rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .about__subheader {
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .about__subheader {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .about__text-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.about__text {
  font-size: 1.625rem;
  line-height: 2.25rem;
  font-weight: 400;
  color: #323232;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 1.75rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    width: 48%;
  }
}

.gallery {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0rem 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container {
    margin: 0 auto;
    max-width: 126rem;
  }
}
.gallery__title {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #323232;
  padding: 3rem 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding: 6rem 0rem 3.5rem;
  }
}
.gallery__image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .gallery__image-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }
}
.gallery__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 31%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image {
    width: 31.5%;
  }
}/*# sourceMappingURL=bio.css.map */