* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/alternatives/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/alternatives/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/alternatives/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Avenir", Arial, sans-serif;
  font-size: 2rem;
}

.header {
  background-color: #323232;
}
.header__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    margin: 0 auto;
    max-width: 135rem;
  }
}
.header__logo {
  color: #FFFFFF;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  padding: 2rem 0rem 1rem;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 2rem 4.5rem 1rem;
  }
}
.header__logo:visited {
  color: #FFFFFF;
}
.header__navigation-container {
  display: flex;
}
.header__navigation-item {
  font-size: 1.625rem;
  line-height: 2.25rem;
  font-weight: 400;
  color: #E1E1E1;
  text-align: center;
  padding: 1rem 0rem;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .header__navigation-item {
    font-size: 1.75rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .header__navigation-item {
    padding: 3rem 0rem;
    margin: 0rem 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__navigation-item {
    margin: 0rem 2rem;
  }
}
.header__navigation-item:visited {
  color: #E1E1E1;
}
.header__navigation-item:hover {
  color: #FFFFFF;
  border-bottom: solid 4px #FFFFFF;
}

.footer {
  background-color: #323232;
  padding: 0rem 2rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0rem 4.5rem;
  }
}
.footer__container {
  position: relative;
}
@media screen and (min-width: 1280px) {
  .footer__container {
    margin: 0 auto;
    max-width: 126rem;
  }
}
.footer__socials {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    align-items: baseline;
    flex-direction: row;
    gap: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials {
    gap: 6rem;
  }
}
.footer__title {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  font-weight: 600;
  color: #FFFFFF;
  padding: 3rem 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding: 6rem 0rem 3.5rem;
  }
}
.footer__icon-wrapper {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__icon-wrapper {
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__icon-wrapper {
    padding: 0rem;
  }
}
.footer__icon {
  padding-right: 3rem;
}
.footer__contact-wrapper {
  padding-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
    max-width: 90rem;
  }
}
.footer__contact-card {
  font-size: 1.625rem;
  line-height: 2.25rem;
  font-weight: 400;
  color: #FFFFFF;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-card {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}
.footer__contact-name {
  font-weight: 600;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-name {
    padding-bottom: 2.75rem;
  }
}
.footer__contact-info {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-info {
    padding-bottom: 2.75rem;
  }
}
.footer__contact-email {
  color: #FFFFFF;
}
.footer__logo {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    line-height: 1;
    position: absolute;
    top: 7.5rem;
    right: 0rem;
  }
}
.footer__copyright {
  font-size: 1.625rem;
  line-height: 2.25rem;
  font-weight: 400;
  font-size: 1.25rem;
  color: #FFFFFF;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-bottom: 4.5rem;
  }
}/*# sourceMappingURL=global.css.map */