@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/hero';

.shows {
    background-color: $primary-three;

    @include tablet {
        padding: 0rem 2rem 2rem;
    }

    @include desktop {
        display: flex;
        align-items: baseline;
        margin: 0 auto;
        max-width: 137rem;
    }

    &__title {
        @include section-header;
        font-weight: 600;
        color: $primary-one;
        padding: 4rem 2rem 3rem;

        @include tablet {
            padding: 6.5rem 2rem 4.5rem;
        }

        @include desktop {
            width: 25%;
            padding: 6.5rem 3rem 4.5rem;
        }
    }

    &__table {
        @include desktop {
            width: 75%;
        }

        &-header {
            width: 26%;
            font-size: 1.5rem;
            font-weight: 600;
            color: $primary-two;
            padding-bottom: 2.5rem;

            @include desktop {
                width: 23%;
                padding-bottom: 4.5rem;
            }

            &--date {
                @include desktop {
                    width: 34%;
                }
            }

            &-container {
                display: none;

                @include tablet {
                    display: flex;
                    padding: 0rem 2.5rem;
                }
            }
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem 0rem;

        @include tablet {
            flex-direction: row;
            align-items: baseline;
            padding: 0rem 2.5rem;
        }

        &:hover {
            background-color: $secondary-three;
        }

        &--selected {
            background-color: $secondary-two;
        }

        &-header {
            font-size: 1.25rem;
            color: $primary-two;
            padding-bottom: 1rem;

            @include tablet {
                display: none;
            }
        }

        &-text {
            font-size: 1.5rem;
            padding-bottom: 2rem;
            color: $primary-one;

            @include tablet {
                width: 26%;
                font-size: 1.75rem;
                padding-bottom: 0rem;
            }

            @include desktop {
                width: 23%;
            }

            &--bold {
                font-weight: 600;

                @include desktop {
                    width: 16rem;
                    margin: 0rem auto 2rem 0;
                }
            }
        }
    }

    &__button {
        font-size: 2rem;
        font-weight: 600;
        color: $primary-three;
        background-color: $primary-one;
        border-radius: 0.5rem;
        max-height: 5rem;
        padding: 1.5rem 0rem;
        margin: 0.5rem 0rem 2rem;

        @include tablet {
            width: 19rem;
            margin: 2rem 0rem 2rem auto;
        }

        @include desktop {
            margin: 2rem 0rem 2rem 0rem;
        }
    }

    &__divider {
        display: none;
        @include divider;

        @include tablet {
            display: block;
            margin-bottom: 0rem;
        }

        &--mobile {
            border: solid 1px $secondary-two;

            @include tablet {
                display: none;
            }
        }
    }
}